@media only screen and (max-width: 480px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 36px;
  }
  .title {
    width: 264px;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: start;
    color: var(--primary);
    margin-bottom: 24px;
  }
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .btn {
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 13px 14px;
    margin: 0 6px;
    background-color: #fff;
    stroke: var(--primary);
    transition: stroke 0.3s;
  }
  .btn:hover {
    stroke: var(--second);
    border: 1px solid var(--second);
  }

  .num {
    font-family: "Fira Sans", sans-serif;
    font-size: 28px;
    color: var(--primary);
  }
  .num2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 28px;
    color: rgba(23, 61, 51, 0.25);
  }
  .card {
    margin-top: 26px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
}
