@media only screen and (max-width: 480px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 1px solid var(--second);
  }

  .title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 226px;
    margin-bottom: 24px;
    color: var(--primary);
  }

  .text {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 19px;
    color: var(--primary);
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--second);
    border-radius: 25px;
    margin: 24px auto;
    background-color: var(--background);
    transition: color 0.3s;
  }
  .button:hover {
    background-color: var(--primary);
    color: var(--second);
  }

  .button_text {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    padding: 8px 10px 8px 14px;
    color: var(--primary);
    transition: color 0.3s;
  }
  .button:hover .button_text {
    color: var(--second);
  }
  .arrow {
    padding: 8px;
    border-radius: 25px;
    background-color: var(--second);
    stroke: var(--primary);
    margin: 3px 3px 3px 0;
    transition: stroke 0.3s;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .section {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 440px;
    margin-right: 20px;

    margin-left: 20px;
    border-bottom: 1px solid var(--second);
  }

  .title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 226px;
    margin-bottom: 24px;
    color: var(--primary);
  }

  .text {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 19px;
    color: var(--primary);
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--second);
    border-radius: 25px;
    margin: 24px auto;
    background-color: var(--background);
    transition: color 0.3s;
  }
  .button:hover {
    background-color: var(--primary);
    color: var(--second);
  }

  .button_text {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    padding: 8px 10px 8px 14px;
    color: var(--primary);
    transition: color 0.3s;
  }
  .button:hover .button_text {
    color: var(--second);
  }
  .arrow {
    padding: 8px;
    border-radius: 25px;
    background-color: var(--second);
    stroke: var(--primary);
    margin: 3px 3px 3px 0;
    transition: stroke 0.3s;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .section {
    display: flex;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 708px;

    border-bottom: 1px solid var(--second);
  }

  .title {
    width: 300px;
    font-family: "Oswald", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 244px;
    margin-bottom: 24px;
    color: var(--primary);
  }
  .text_block {
    margin-top: 244px;
    width: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text {
    width: 342px;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 19px;
    color: var(--primary);
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--second);
    border-radius: 25px;
    margin-bottom: 26px;
    background-color: var(--background);
    transition: color 0.3s;
  }
  .button:hover {
    background-color: var(--primary);
    color: var(--second);
  }

  .button_text {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    padding: 8px 10px 8px 14px;
    color: var(--primary);
    transition: color 0.3s;
  }
  .button:hover .button_text {
    color: var(--second);
  }
  .arrow {
    padding: 8px;
    border-radius: 25px;
    background-color: var(--second);
    stroke: var(--primary);
    margin: 3px 3px 3px 0;
    transition: stroke 0.3s;
  }
}

@media only screen and (min-width: 1281px) {
  .section {
    display: flex;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 1240px;

    border-bottom: 1px solid var(--second);
  }

  .title {
    width: 485px;
    font-family: "Oswald", sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 244px;
    margin-bottom: 24px;
    color: var(--primary);
  }
  .text_block {
    margin-top: 244px;
    margin-right: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text {
    width: 364px;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 19px;
    letter-spacing: -1px;
    color: var(--primary);
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--second);
    border-radius: 25px;
    margin-bottom: 28px;
    background-color: var(--background);
    transition: color 0.3s;
  }
  .button:hover {
    background-color: var(--primary);
    color: var(--second);
  }

  .button_text {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    padding: 8px 10px 8px 14px;
    color: var(--primary);
    transition: color 0.3s;
  }
  .button:hover .button_text {
    color: var(--second);
  }
  .arrow {
    padding: 8px;
    border-radius: 25px;
    background-color: var(--second);
    stroke: var(--primary);
    margin: 3px 3px 3px 0;
    transition: stroke 0.3s;
  }
}
