@media only screen and (max-width: 480px) {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .container {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    margin-right: 20px;
    margin-left: 20px;
    top: 0;
    z-index: 100;
    background-color: #fff;
  }


  .burger {
    padding: 12px;
    background-color: var(--third);
    border-radius: 25px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
}
