.container {
  margin: 36px 20px;
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 12px;
}
.contacts {
  margin: 24px 0;
}

.contact_type {
  text-align: start;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 24px;
  color: var(--primary);
}

.contact_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
  transition: stroke 0.3s;
  gap: 8px;
  stroke: var(--primary);
}

.contact_item:hover .contact_img {
  stroke: var(--second);
}

.contact_img {
  transition: stroke 0.3s;
}

.contact_text {
  color: var(--primary);
}
.contact_social_img {
  stroke: var(--primary);
  transition: stroke 0.3s;
}

.contact_social_img:hover {
  stroke: var(--second);
}

.contact_social_item {
  display: flex;
  margin: 20px 0 0 12px;
  gap: 32px;
}

.contact_text {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  color: var(--primary);
  text-align: start;
}
.contact_block:last-child .contact_item {
  display: flex;
  justify-content: flex-start;
}
.contact_block:last-child .contact_item:nth-child(1) .contact_img,
.contact_block:last-child .contact_item:nth-child(2) .contact_img {
  margin: 12px;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .section {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 440px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .section {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 708px;
    margin: 100px 30px;
  }
  .title {
    margin-bottom: 0;
  }

  .container768px {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;
  }

  .contacts {
    margin: 0;
  }
  .contact_block {
    width: 280px;
  }
 
}

@media only screen and (min-width: 1281px) {
  .section {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 1240px;
    margin: 120px 30px;
  }
  .title {
    font-size: 48px;
    margin-bottom: 0;
  }
  .container768px {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 96px;
  }

  .contacts {
    width: 525px;
    margin: 0;
  }
  .contact_block {
    width: 600px;
  }
  .contact_type {
    margin-bottom: 16px;
    margin-top: 32px;
  }

  .contact_text {
    font-size: 24px;
  }
  .contact_block:last-child .contact_item:nth-child(1) .contact_img,
  .contact_block:last-child .contact_item:nth-child(2) .contact_img {
    margin: 0;
  }

  .contact_social_item {
    display: flex;
    margin: 16px 0 0 0;
    gap: 8px;
  }
  .hidden {
    display: none;
  }
}
